body {
	background: #002029;
	color: #ccc;
	line-height: 1.6;
	font-family: Palatino, serif;
}

a {
	color: #b58900;
	transition: all .3s ease-in-out;
}
a:visited {
	color: #cb4b16;
}
a:hover {
	color: #ab2b06;
	letter-spacing: 0.1em;
}

pre {
	background-color: #002b36;
	color: #839496;
	border: 1pt solid #586e75;
	padding: 1em;
	box-shadow: 2pt 2pt 8pt rgba(0, 40, 90, .9);
	white-space: pre-wrap;
	word-wrap: break-word;
	font-family: monospace, serif;
}

pre code {
	background-color: #002b36;
	margin: 0;
	padding: 0;
	font-family: monospace, serif;
}

code {
	font-family: monospace, serif;
	background-color: #275662;
	padding: 5px;
	margin: 0.3em;
}

.intro h1 {
	font-size: 200%;
	text-shadow: 1px 1px rgba(0, 0, 0, .7)
}

.intro small {
	margin-left: 1em;
	font-size: 50%;
}

.intro small:last-child {
	margin-left: .5em;
}

.pie {
	margin-top: 2em;
}

.pie h2 {
	font-size: 125%;
}

.pie ul {
	padding: 0;
}

.pie li {
	list-style-type: none;
}

.pie .dot {
	width: .8em;
	height: .8em;
	display: inline-block;
	border-radius: 50%;
	margin-right: .5em;
	vertical-align: middle;
	transition: all .1s ease-in-out;
}

.pie li:hover .dot {
	width: 1em;
	height: 1em;
}
