:root {
	--app-bg-color: #002029;
	--app-fg-color: #c0c0ce;
}

body {
  background: var(--app-bg-color);
  color: var(--app-fg-color);
  line-height: 1.6;
  font-family: Palatino, serif;
}

a {
  color: #b58900;
  transition: all .3s ease-in-out;
}

a:visited {
  color: #cb4b16;
}

a:hover {
  color: #ab2b06;
  letter-spacing: 0.1em;
}

.intro h1 {
  font-size: 200%;
  text-shadow: 1px 1px rgba(0, 0, 0, .7)
}

.intro small {
  margin-left: 1em;
  font-size: 50%;
}

.intro small:last-child {
  margin-left: .5em;
}

.intro img {
	width: 5rem;
	height: 5rem;
}
